<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Core CSS file -->
    <link rel="stylesheet" href="node_modules/photoswipe/dist/photoswipe.css"> 

    <!-- Skin CSS file (styling of UI - buttons, caption, etc.)
         In the folder of skin CSS file there are also:
         - .png and .svg icons sprite, 
         - preloader.gif (for browsers that do not support CSS animations) -->
    <link rel="stylesheet" href="node_modules/photoswipe/dist/default-skin/default-skin.css"> 

    <!-- Core JS file -->
    <script src="node_modules/photoswipe/dist/photoswipe.min.js"></script> 

    <!-- UI JS file -->
    <script src="node_modules/photoswipe/dist/photoswipe-ui-default.min.js"></script>

  </head>

  <body>
   {{content}}
  </body>
</html>
